# Data Cleaning

Data cleaning is an important step before the data is explored for analysis purpose or visualization. A cleaned data provides accurate, unbiased analysis results.

In [199]:
#imports

import pandas as pd
import numpy as np
import os

## Checking Order Details

In [200]:
#get the current working directory
cwd = os.getcwd()

order_details = pd.read_csv(cwd+"/pizza_sales_data/order_details.csv")

In [201]:
#first few rows
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [202]:
#size of the data
order_details.shape

(48620, 4)

In [203]:
#let's check for any null or missing values
order_details.isnull().value_counts()

order_details_id  order_id  pizza_id  quantity
False             False     False     False       48620
dtype: int64

In [204]:
#let's check total unique order_ids 
len(order_details.order_id.unique())

21350

There are 21350 unique orders placed with each order either having atleast 1 or more than 1 pizzas. Order id is a unique identifier for each order placed by a table.

## Checking Orders dataset

In [205]:
orders = pd.read_csv(cwd + "/pizza_sales_data/orders.csv")

In [206]:
#check first few rows

orders.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30

In [207]:
#size of the dataset
orders.shape

(21350, 3)

In [208]:
#check for missing or null values
orders.isnull().value_counts()

order_id  date   time
False     False  False    21350
dtype: int64

## Checking Pizza_types

In [209]:
pizza_type = pd.read_csv(cwd + "/pizza_sales_data/pizza_types.csv",encoding = 'unicode_escape')

In [210]:
pizza_type.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [211]:
pizza_type.shape

(32, 4)

In [212]:
#check for null or missing values

pizza_type.isnull().value_counts()

pizza_type_id  name   category  ingredients
False          False  False     False          32
dtype: int64

In [213]:
pizza_type.category.value_counts()

Supreme    9
Veggie     9
Classic    8
Chicken    6
Name: category, dtype: int64

### Ingredients

In [214]:
pizza_type['ingredients'].unique().tolist()

['Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce',
 'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese',
 'Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce',
 'Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce',
 'Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce',
 'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce',
 'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage',
 'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon',
 'Sliced Ham, Pineapple, Mozzarella Cheese',
 'Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano',
 'Tomatoes, Anchovies, Green Olives, Red Onions, Garlic',
 'Pepperoni, Mushrooms, Green Peppers',
 'Mozzarella Cheese, Pepperoni',
 'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions',
 'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic',
 '\x91Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic',
 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic',
 'Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic',
 'Prosciutto di San Daniele, Arugula, Mozzarella Cheese',
 'Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic',
 'Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic',
 'Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic',
 'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese',
 'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic',
 'Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic',
 'Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese',
 'Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce',
 'Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions',
 'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic',
 'Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce',
 'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic',
 'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic']

In [215]:
#replace \x91Nduja Salami
pizza_type['ingredients'] = pizza_type['ingredients'].replace("\x91Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic","Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic")
pizza_type['ingredients'] = pizza_type['ingredients'].replace("Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese","Chicken, Artichokes, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese")

In [216]:
# unique list of ingredients used for pizzas
list_of_ingredients = pizza_type['ingredients'].unique().tolist()

#create a list of all ingredients used
ingredients = []
for item in list_of_ingredients:
    list_of_items = item.split(", ")
    for n in list_of_items:
        if n in ingredients:
            pass
        else:
            ingredients.append(n)

In [217]:
print(ingredients)

['Barbecued Chicken', 'Red Peppers', 'Green Peppers', 'Tomatoes', 'Red Onions', 'Barbecue Sauce', 'Chicken', 'Artichokes', 'Spinach', 'Garlic', 'Jalapeno Peppers', 'Fontina Cheese', 'Gouda Cheese', 'Mushrooms', 'Asiago Cheese', 'Alfredo Sauce', 'Pesto Sauce', 'Corn', 'Cilantro', 'Chipotle Sauce', 'Pineapple', 'Thai Sweet Chilli Sauce', 'Bacon', 'Pepperoni', 'Italian Sausage', 'Chorizo Sausage', 'Sliced Ham', 'Mozzarella Cheese', 'Capocollo', 'Goat Cheese', 'Oregano', 'Anchovies', 'Green Olives', 'Kalamata Olives', 'Feta Cheese', 'Beef Chuck Roast', 'Brie Carre Cheese', 'Prosciutto', 'Caramelized Onions', 'Pears', 'Thyme', 'Nduja Salami', 'Pancetta', 'Friggitello Peppers', 'Calabrese Salami', 'Genoa Salami', 'Prosciutto di San Daniele', 'Arugula', 'Coarse Sicilian Salami', 'Luganega Sausage', 'Onions', 'Soppressata Salami', 'Peperoncini verdi', 'Provolone Cheese', 'Smoked Gouda Cheese', 'Romano Cheese', 'Blue Cheese', 'Ricotta Cheese', 'Gorgonzola Piccante Cheese', 'Parmigiano Reggiano Cheese', 'Eggplant', 'Zucchini', 'Sun-dried Tomatoes', 'Plum Tomatoes']

In [218]:
# total number of unique ingredients
print(f"Total {len(ingredients)} unique ingredients")

Total 64 unique ingredients

In [219]:
# merge the order_Details and Pizzas type dataframes

order_pizza =  pd.merge(pd.merge(order_details, pizzas, on='pizza_id', how='inner'), 
         pizza_type, on='pizza_type_id',how='inner')

In [220]:
# convert the string form of ingredients into a list
order_pizza['ingredients'] = order_pizza['ingredients'].str.split(", ")
order_pizza

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]"
1,179,77,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]"
2,357,146,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]"
3,389,163,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]"
4,568,247,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]"
...,...,...,...,...,...,...,...,...,...,...
48615,48176,21167,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"[Brie Carre Cheese, Prosciutto, Caramelized On..."
48616,48244,21198,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"[Brie Carre Cheese, Prosciutto, Caramelized On..."
48617,48311,21225,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"[Brie Carre Cheese, Prosciutto, Caramelized On..."
48618,48456,21282,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"[Brie Carre Cheese, Prosciutto, Caramelized On..."
48619,48527,21308,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"[Brie Carre Cheese, Prosciutto, Caramelized On..."

In [221]:
#one hot encode the ingredients

from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer(sparse_output=True)

order_pizza = order_pizza.join(
                pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(order_pizza.pop('ingredients')),
                index=order_pizza.index,
                columns=mlb.classes_))

In [222]:
order_pizza.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,Alfredo Sauce,...,Romano Cheese,Sliced Ham,Smoked Gouda Cheese,Soppressata Salami,Spinach,Sun-dried Tomatoes,Thai Sweet Chilli Sauce,Thyme,Tomatoes,Zucchini
0,1,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,0,...,0,1,0,0,0,0,0,0,0,0
1,179,77,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,0,...,0,1,0,0,0,0,0,0,0,0
2,357,146,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,0,...,0,1,0,0,0,0,0,0,0,0
3,389,163,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,0,...,0,1,0,0,0,0,0,0,0,0
4,568,247,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,0,...,0,1,0,0,0,0,0,0,0,0

#### Check the most and least used ingredient

In [95]:
order_pizza['ingredients'][0]

'Sliced Ham, Pineapple, Mozzarella Cheese'

In [225]:
order_pizza.iloc[:,10:].sum().sort_values(ascending=False)

Garlic                27422
Tomatoes              26601
Red Onions            19547
Red Peppers           16284
Mozzarella Cheese     10333
                      ...
Thyme                   480
Pears                   480
Caramelized Onions      480
Prosciutto              480
Brie Carre Cheese       480
Length: 63, dtype: int32

As we can see Garlic, Tomatoes, Red Onions, Red Peppers and Mozzarella Cheese are the most used ingredients in the variety of pizzas.

## Checking pizzas dataset

In [43]:
pizzas = pd.read_csv(cwd + "/pizza_sales_data/pizzas.csv")

In [44]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [45]:
pizzas.shape

(96, 4)

In [46]:
#check for missing or null values
pizzas.isnull().value_counts()

pizza_id  pizza_type_id  size   price
False     False          False  False    96
dtype: int64

Overall the data is very cleaned and structured. There is no missing values or data discripancy.