## Exploratory Data Analysis

In [1]:
#imports

import pandas as pd
import numpy as np
import os

In [2]:
#get the current working directory
cwd = os.getcwd()

order_details = pd.read_csv(cwd+"/pizza_sales_data/order_details.csv")
orders = pd.read_csv(cwd + "/pizza_sales_data/orders.csv")
pizza_type = pd.read_csv(cwd + "/pizza_sales_data/pizza_types.csv",encoding = 'unicode_escape')
pizzas = pd.read_csv(cwd + "/pizza_sales_data/pizzas.csv")

In [3]:
#let's check the order details
order_details

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [13]:
order_details.groupby('pizza_id')['quantity'].sum().sort_values(ascending=False)

pizza_id
big_meat_s        1914
thai_ckn_l        1410
five_cheese_l     1409
four_cheese_l     1316
classic_dlx_m     1181
                  ...
mexicana_s         162
calabrese_s         99
ckn_alfredo_s       96
green_garden_l      95
the_greek_xxl       28
Name: quantity, Length: 91, dtype: int64

Clearly Big Meat Pizza is the best selling and The Greek is the worst selling but in different categories of sizes. Thai Chicken is best selling in Large size and Classic deluxe is best selling in medium size pizzas.

In [14]:
orders

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [30]:
#Let's try to find the sales

order_price = pd.merge(pd.merge(order_details, orders, on='order_id', how='inner'), 
         pizzas, on='pizza_id',how='inner')
order_price.groupby('pizza_id')['price'].sum().sort_values(ascending=False)

pizza_id
thai_ckn_l        28323.75
five_cheese_l     25141.50
four_cheese_l     22850.35
spicy_ital_l      22576.00
big_meat_s        21732.00
                    ...
mexicana_s         1920.00
green_garden_l     1903.50
ckn_alfredo_s      1224.00
calabrese_s        1212.75
the_greek_xxl      1006.60
Name: price, Length: 91, dtype: float64

Thai Chicken pizza is highest selling as well as it generates high revenue. However, clearly, the business needs to focus on The Greek Pizza. It is the least selling pizza as well.

In [42]:
#Let's check the average order value
print(f" ${round(order_price['price'].mean(),2)} is the average order value")

$16.49 is the average order value